---
import '/src/styles/reset.css'
import '/src/styles/fonts.css'
import Meta from 'src/components/utils/Meta.astro'

import Site from '../content/site.json'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Meta />

    <title>{Site.name}</title>
  </head>
  <body class="[ max-w-screen-lg m-0 mx-auto center ]
   [ font-base ui-text-base ]">
    <main class="[ flex flex-col mx-1 ] [ flow ]">
      <slot />
    </main>
    <footer class="sr-only">
      <p>
        {Site.authorName}
        <a href={Site.authorSite}>{Site.authorSite}</a>
      </p>
    </footer>
  </body>
</html>
